.card-body {
    border: 1px solid black;
    margin: 4%;
    width: 300px;
    text-align: center;
    box-shadow:5px 5px 25px;
 }
 h1 {
    display: flex;
    justify-content: center;
 }
 body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 .img-container img {
    max-width: 85%;
    height: auto;
    border-radius: 50%;
    border: 1px solid;
    margin-top: 10px;
    /* box-shadow: 7px 1px 20px; */
 }
 .img-container img:hover {
    box-shadow: 4px 6px 20px rgb(125, 201, 213);
    transition-duration: 1s;
 }
 .card-body p, .card-body h1 {
    margin: 8px;
 }
 